<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewspanort" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>spanage Title</title>
		<link rel="stylesheet" tyspane="text/css" href="__ADMIN__/css/welcomeindex.css">
	</head>
	<body>
		
		<div class="we_lt_area">
			
			<!-- 今日订单数据 -->
			<section class="lt_list hlt_we_one">
				<div class="model_title">今日订单实时概况<sub>更新时间：2019-07-01 14:17:25</sub></div>
				<div class="orderinfo-box">
					<ul class="ui_orderinfo_style orderinfo-ltbox">
						<li>
							<p class="orderinfo-item">总订单数</p>
							<p class="orderinfo-item"><a href="#">0<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">总金额</p>
							<p class="orderinfo-item"><a href="#">0.00<sub>元</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">有效支付订单数</p>
							<p class="orderinfo-item"><a href="#">0<sub>单</sub><strong></strong></a></p>
						</li>
						<li>
							<p class="orderinfo-item">实际支付金额</p>
							<p class="orderinfo-item"><a href="#">0.00<sub>元</sub></a></p>
						</li>
					</ul>
					
					<ul class="ui_orderinfo_style orderinfo-rtbox">
						<li>
							<p class="orderinfo-item">退款</p>
							<p class="orderinfo-item"><a href="#">3<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">异常订单</p>
							<p class="orderinfo-item"><a href="#">11<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">催单数</p>
							<p class="orderinfo-item"><a href="#">0 <sub>单</sub></a></p>
						</li>
						
						<li>
							<p class="orderinfo-item">累积客户数</p>
							<p class="orderinfo-item"><a href="#">126520</a></p>
						</li>
					</ul>
				</div>
			</section>
			
			<!-- 昨日订单数据 -->
			<section class="lt_list hlt_we_one">
				<div class="model_title">昨日订单实时概况<sub>更新时间：2019-07-01 14:17:25</sub></div>
				<div class="orderinfo-box">
					<ul class="ui_orderinfo_style orderinfo-ltbox">
						<li>
							<p class="orderinfo-item">总订单数</p>
							<p class="orderinfo-item"><a href="#">0<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">总金额</p>
							<p class="orderinfo-item"><a href="#">0.00<sub>元</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">有效支付订单数</p>
							<p class="orderinfo-item"><a href="#">0<sub>单</sub><strong></strong></a></p>
						</li>
						<li>
							<p class="orderinfo-item">实际支付金额</p>
							<p class="orderinfo-item"><a href="#">0.00<sub>元</sub></a></p>
						</li>
					</ul>
					
					<ul class="ui_orderinfo_style orderinfo-rtbox">
						<li>
							<p class="orderinfo-item">退款</p>
							<p class="orderinfo-item"><a href="#">3<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">异常订单</p>
							<p class="orderinfo-item"><a href="#">11<sub>单</sub></a></p>
						</li>
						<li>
							<p class="orderinfo-item">催单数</p>
							<p class="orderinfo-item"><a href="#">0 <sub>单</sub></a></p>
						</li>
						
						<li>
							<p class="orderinfo-item">累积客户数</p>
							<p class="orderinfo-item"><a href="#">126520</a></p>
						</li>
					</ul>
				</div>
			</section>
			<section class="lt_list"></section>
			<section class="lt_list"></section>
			<section class="lt_list"></section>
			<section class="lt_list"></section>
		</div>
		<div class="we_rt_area">
			<section class="rt_list"></section>
			<section class="rt_list"></section>
			<section class="rt_list"></section>
			<section class="rt_list"></section>
			<section class="rt_list"></section>
			<section class="rt_list"></section>
		</div>

	</body>
</html>